/* Global Styles*/
:root {
	--primary-color: #383d3e;
	--background-color: #f6f3f0;
	--text-color: #333333;
	--accent-color: #fff;
	--button-accent-color: #d1d5db;
	--button-hover-color: #008000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	font-family: "Manrope", sans-serif;
	color: var(--text-color);
	background-color: var(--background-color);
	font-size: 16px;
	margin: 0; /* Add this line to remove the margin */
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.body-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	height: 80vh;
	min-width: 100vw;
	transition: width 1s, height 1s;
	margin-top: 3rem;
	margin-bottom: 5rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: var(--accent-color);
}

.links {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100vw;
	list-style: none;
	font-variant: small-caps;
	margin-left: 1rem;
}

.nav-links:link {
	color: var(--primary-color);
	text-decoration: none;
	font-size: 1.2rem;
}

.nav-links:visited {
	color: var(--primary-color);
}

.nav-links:hover {
	text-decoration: underline overline var(--primary-color);
	transition: all 0.2s ease-in-out;
}

.wrapper {
	box-sizing: border-box;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	min-width: 100vw;
}
.nav-bar,
.footer-nav {
	flex-grow: 0;
	flex-shrink: 0;
}

.nav-bar {
	position: fixed;
	background-color: var(--background-color);
	padding-bottom: 1rem;
	padding-top: 1rem;
	margin-bottom: 2rem;
}
.body {
	flex-grow: 1;
}

.footer-nav {
	margin-top: 3rem;
	padding-bottom: 0.5rem;
	background-color: var(--background-color);
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.titles {
	font-size: 4.7rem;
	letter-spacing: 0.5rem;
	margin-bottom: 3rem;
	padding: 1rem 0 1rem 0;
	font-weight: 100;
	font-variant: small-caps;
	text-align: center;
}

/* For medium-sized screens e.g. tablet */
@media screen and (max-width: 768px) {
	.titles {
		font-size: 3.5rem; /* Adjust the font size for medium-sized screens */
	}
}

/* For small screens e.g. phone */
@media screen and (max-width: 480px) {
	.titles {
		font-size: 2.5rem; /* Adjust the font size for small screens */
	}
}

.button {
	background-color: var(--primary-color);
	border: 0;
	border-radius: 0.5rem;
	box-sizing: border-box;
	color: var(--accent-color);
	font-size: 0.9rem;
	font-weight: 100;
	font-family: "Manrope", sans-serif;
	line-height: 1rem;
	padding: 0.75rem 1rem;
	width: 9vw;
	margin: 0 0.5rem 0 0;
	text-align: center;
	text-decoration: none;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button:hover {
	background-color: var(--button-hover-color);
}

.button:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.button:focus-visible {
	box-shadow: none;
}

#site-link {
	text-decoration: none;
	color: var(--accent-color);
}
#site-link:hover {
	text-decoration: none;
	color: var(--accent-color);
}
