/* Global Styles*/
:root {
	--primary-color: #383d3e;
	--background-color: #f6f3f0;
	--text-color: #333333;
	--accent-color: #fff;
	--button-accent-color: #949494;
	--button-hover-color: #008000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	font-family: "Manrope", sans-serif;
	color: var(--text-color);
	background-color: var(--background-color);
	font-size: 16px;
	margin: 0; /* Add this line to remove the margin */
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.body-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	height: 25rem;
	min-width: 100vw;
	transition: width 1s, height 1s;
	margin-top: 3rem;
	margin-bottom: 5rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: var(--background-color);
}
.body-container:hover {
	height: 47rem;
	cursor: pointer;
}

.job-role {
	display: none;
	font-size: 4.5vw;
	font-family: monospace;
	font-weight: lighter;
	text-align: center;
	color: var(--text-color);
	animation: fadeIn 6s;
}

.body-container:hover .job-role {
	display: block;
}
.greeting {
	font-size: 10vw; /* Change to a relative unit like vw */
	font-family: monospace;
	text-align: center;
	color: var(--text-color);
	margin-bottom: 1rem;
	font-weight: 100;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.15em solid var(--text-color); /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* ANIMATIONS */

.swipe-text {
	text-align: right;
	font-size: 1.3rem;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: var(--text-color);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100vw;
	list-style: none;
	font-variant: small-caps;
}

.nav-links:link {
	color: var(--primary-color);
	text-decoration: none;
	font-size: 1.2rem;
}

.nav-links:visited {
	color: var(--primary-color);
}

.nav-links:hover {
	text-decoration: underline overline var(--primary-color);
	transition: all 0.2s ease-in-out;
}

.contact-table tr {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	padding-top: 0.3rem;
	align-items: center;
}

.contact-table td {
	margin-right: 1rem; /* Adjust the margin as needed */
}

.wrapper {
	box-sizing: border-box;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	min-width: 100vw;
}
.nav-bar,
.footer-nav {
	flex-grow: 0;
	flex-shrink: 0;
}

.nav-bar {
	position: fixed;
	background-color: var(--background-color);
	padding-bottom: 1rem;
	padding-top: 1rem;
	margin-bottom: 2rem;
}
.body {
	flex-grow: 1;
}

.footer-nav {
	margin-top: 3rem;
	padding-bottom: 0.5rem;
	background-color: var(--background-color);
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.content {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.about-me,
.skills,
.projects,
.contact-me {
	padding: 3rem 1rem 2rem 1rem;
	margin-top: 1rem;
	margin-bottom: 4rem;
	width: 95vw;
	line-height: 2rem;
	text-align: justify;
	font-size: 1.3rem;
	background-color: var(--accent-color);
	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
		rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
	/* border-radius: 1rem; */
}

.titles {
	font-family: monospace;
	font-size: 4.7rem;
	letter-spacing: 0.5rem;
	margin-bottom: 3rem;
	padding: 1rem 0 1rem 0;
	font-weight: 100;
	font-variant: small-caps;
	text-align: center;
}

.quote {
	padding-top: 2rem;
	padding-right: 2rem;
	text-align: center;
	font-style: oblique;
}

.contact-me {
	display: flex;
	flex-direction: column;
	width: 95vw;
	height: auto;
}

.slider {
	/* line them up horizontally */
	display: flex;

	/* allow for scrolling */
	overflow-x: auto;

	/* make it smooth on iOS */
	-webkit-overflow-scrolling: touch;
}
.slider > div {
	/* make sure the width is honored */
	flex-shrink: 0.13;
	width: 500px;
	height: 450px;
	margin: 0.5rem;
	padding-top: 1rem;
}

#image {
	width: 100%;
	height: auto;
	padding-top: 3rem;
}
.portfolio-image-hidden {
	display: none;
	width: 10rem;
	height: auto;
	justify-content: center;
}

.projects {
	font-size: 1.5rem;
	height: auto;
	text-align: center;
}

.skills {
	height: auto;
}

.icon-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: scroll;
}

.icons {
	width: 8vw;
	height: auto;
	margin: 1rem;
}

.slider-panel {
	box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
		rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

::-webkit-scrollbar {
	color: var(--button-accent-color);
	opacity: 0.3;
}

::-webkit-scrollbar-thumb {
	background-color: var(--button-accent-color);
	scrollbar-width: thin;
}

.slider,
.icon-container {
	scroll-snap-type: y mandatory;
}

.slider-panel,
.icons {
	scroll-snap-align: start;
}

.about-me {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
		rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
	padding: 0%;
	height: auto;
}
.about-text {
	text-align: justify;
}
.about-text-container {
	padding: 0 1rem 1rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.portfolio-image-container {
	max-width: 100vw;
	display: flex;
	flex-direction: row;
}
.portfolio-image {
	max-width: 30vw;
	object-fit: cover;
}

.contact-icon {
	width: 8vw;
	height: auto;
}

.button {
	background-color: var(--primary-color);
	border: 0;
	border-radius: 0.5rem;
	box-sizing: border-box;
	color: var(--accent-color);
	font-size: 0.9rem;
	font-weight: 100;
	font-family: "Manrope", sans-serif;
	line-height: 1rem;
	padding: 0.75rem 1rem;
	min-width: 9vw;
	margin: 0 0.5rem 0 0;
	text-align: center;
	text-decoration: none;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button:hover {
	background-color: var(--button-hover-color);
}

.button:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.button:focus-visible {
	box-shadow: none;
}

#site-link {
	text-decoration: none;
	color: var(--accent-color);
}
#site-link:hover {
	text-decoration: none;
	color: var(--accent-color);
}

/* Responsiveness */
/* For medium-sized screens e.g. tablet */
@media screen and (max-width: 768px) {
	.greeting {
		font-size: 8vw; /* Adjust the font size for medium-sized screens */
	}

	.job-role {
		font-size: 5vw; /* Adjust the font size for medium-sized screens */
	}
	.about-me,
	.skills,
	.projects,
	.contact-me {
		font-size: 1rem; /* Adjust the font size for medium-sized screens */
	}

	.titles {
		font-size: 3.5rem; /* Adjust the font size for medium-sized screens */
	}
	.icons,
	.contact-icon {
		width: 11vw !important; /* Increase the width with !important */
		height: auto;
		margin: 1rem;
	}

	.body-container {
		height: 10rem;
	}
	.body-container:hover {
		height: 20rem;
		cursor: pointer;
	}
	.slider > div {
		height: 55vh;
	}
}

/* For small screens e.g. phone */
@media screen and (max-width: 480px) {
	.greeting {
		font-size: 10vw; /* Adjust the font size for small screens */
	}

	.job-role {
		font-size: 5vw; /* Adjust the font size for small screens */
	}
	.about-me,
	.skills,
	.projects,
	.contact-me {
		font-size: 1rem; /* Adjust the font size for small screens */
	}

	.titles {
		font-size: 2.5rem; /* Adjust the font size for small screens */
	}
	.icons,
	.contact-icon {
		width: 15vw !important; /* Increase the width with !important */
		height: auto;
		margin: 1rem;
	}
	.body-container {
		height: 10rem;
	}
	.body-container:hover {
		height: 20rem;
		cursor: pointer;
	}
	.portfolio-image {
		display: hidden;
	}
	.portfolio-image-hidden {
		display: block;
	}
	td {
		text-align: center;
	}

	.contact-table tr {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		padding-top: 0.3rem;
		align-items: center;
	}

	.slider > div {
		height: 55vh;
	}
}
