* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	font-family: "Montserrat";
	font-size: 16px;
}
.body-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	height: 15rem;
	min-width: 100vw;
	background-color: #5c0029;
	transition: width 1s, height 1s;
	overflow: hidden;
	margin-top: 3rem;
	margin-bottom: 2rem;
}
.body-container:hover {
	height: 35rem;
	cursor: pointer;
}

.job-role {
	display: none;
	font-size: 4rem;
	font-weight: lighter;
	text-align: center;
	color: #ffff;
	animation: fadeIn 8s;
}

.body-container:hover .job-role {
	display: block;
}
.greeting {
	font-size: 6rem;
	font-weight: normal;
	text-align: center;
	color: #ffff;
	animation: fadeIn 4s;
	margin-bottom: 1rem;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100vw;
	list-style: none;
}

a:link {
	color: #ffff;
	text-decoration: none;
	font-size: 1.2rem;
}

a:visited {
	color: #ffff;
}

a:hover {
	text-decoration: underline overline #ffff;
	transition: all 0.2s ease-in-out;
}
.footer-links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100vw;
	list-style: none;
	margin: 2rem 0 0rem 0;
}

.wrapper {
	box-sizing: border-box;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	min-width: 100vw;
}
.nav-bar,
.footer-nav {
	flex-grow: 0;
	flex-shrink: 0;
}

.nav-bar {
	position: fixed;
	background-color: #5c0029;
	padding-bottom: 1rem;
	padding-top: 1rem;
	margin-bottom: 2rem;
}
.body {
	flex-grow: 1;
}

.footer-nav {
	margin-top: auto;
	padding: 0.5rem;
}

.content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100vw;
}

.about-me,
.skills {
	padding-top: 4.5rem;
	margin: 3rem;
	width: 60vw;
	align-self: flex-start;
	line-height: 2rem;
	text-align: justify;
}
.projects,
.contact-me {
	padding-top: 4.5rem;
	margin: 3rem;
	width: 60vw;
	align-self: flex-end;
	line-height: 2rem;
	text-align: justify;
}

#bottom-link {
	color: #5c0029;
	text-decoration: none;
}

#bottom-link:hover {
	text-decoration: underline overline #5c0029;
	transition: all 0.2s ease-in-out;
}

h1 {
	font-size: 3.5rem;
	margin-bottom: 3rem;
}
