/* Font for headings*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	font-family: "Manrope", sans-serif;
	color: rgb(39, 94, 97);
	font-size: 16px;
	margin: 0; /* Add this line to remove the margin */
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.body-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	height: 25rem;
	min-width: 100vw;
	transition: width 1s, height 1s;
	margin-top: 3rem;
	margin-bottom: 2rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.body-container:hover {
	height: 35rem;
	cursor: pointer;
}

.job-role {
	display: none;
	font-size: 4.5rem;
	font-weight: lighter;
	text-align: center;
	color: rgb(39, 94, 97);
	animation: fadeIn 8s;
}

.body-container:hover .job-role {
	display: block;
}
.greeting {
	font-size: 12rem;
	text-align: center;
	color: rgb(39, 94, 97);
	animation: fadeIn 4s;
	margin-bottom: 1rem;
	text-transform: uppercase;
	font-weight: 100;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100vw;
	list-style: none;
	font-variant: small-caps;
}

a:link {
	color: rgb(39, 94, 97);
	text-decoration: none;
	font-size: 1.2rem;
}

a:visited {
	color: rgb(39, 94, 97);
}

a:hover {
	text-decoration: underline overline rgb(39, 94, 97);
	transition: all 0.2s ease-in-out;
}
.footer-links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100vw;
	list-style: none;
	margin: 2rem 0 0rem 0;
}

.wrapper {
	box-sizing: border-box;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	min-width: 100vw;
}
.nav-bar,
.footer-nav {
	flex-grow: 0;
	flex-shrink: 0;
}

.nav-bar {
	position: fixed;
	background-color: rgb(255, 255, 255);
	padding-bottom: 1rem;
	padding-top: 1rem;
	margin-bottom: 2rem;
	/* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px; */
}
.body {
	flex-grow: 1;
}

.footer-nav {
	margin-top: auto;
	padding: 0.5rem;
}

.content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100vw;
}

.about-me,
.skills,
.projects,
.contact-me {
	padding: 4.5rem 3rem 0rem 3rem;
	width: 100vw;
	line-height: 2rem;
	text-align: justify;
}

#bottom-link {
	color: rgb(39, 94, 97);
	text-decoration: none;
	font-variant: small-caps;
}

#bottom-link:hover {
	text-decoration: underline overline;
	color: rgb(39, 94, 97);
	transition: all 0.2s ease-in-out;
}

.titles {
	font-size: 4.7rem;
	letter-spacing: 1.5rem;
	margin-bottom: 3rem;
	font-weight: 100;
	font-variant: small-caps;
}

@media screen and (max-width: 768px) {
	.greeting {
		font-size: 5rem;
	}

	.job-role {
		font-size: 2rem;
	}
	.about-me {
		font-size: 1rem;
	}
	.skills {
		font-size: 1rem;
	}
	.contact-me {
		font-size: 1rem;
	}
	.projects {
		font-size: 1rem;
	}

	.titles {
		font-size: 2.5rem;
	}
}

@media screen and (max-width: 480px) {
	.greeting {
		font-size: 4rem;
	}

	.job-role {
		font-size: 1.7rem;
	}
	.about-me {
		font-size: 1rem;
	}
	.skills {
		font-size: 1rem;
	}
	.contact-me {
		font-size: 1rem;
	}
	.projects {
		font-size: 1rem;
	}
	.titles {
		font-size: 2.5rem;
	}
}
